.header-background{
  background-color: #009688;
}

#logo{
  align-items: center;
  background-repeat: no-repeat;
  width: 20%;
    margin-left: auto;
    margin-right: 10em;
    margin-top: -3em;
}

.logo-img{
  float: left;
  margin-right: 20px;

}

.buscar{
  margin-top: 5px;
}

.footer-small {
    background-color: #2C3E50;
    margin-top: -6px;
    padding-top: 5px;
}
