<!DOCTYPE html>
<html lang="en">
<head >
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="wnameth=device-wnameth, initial-scale=1">  
    <title>Boa Iniciativa</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
	<title>
	Boa Iniciativa - Convidar Amigo
	</title>
</head>
<body>
	<form class="navbar-form" action="" method="post"> <!--Falta o form que cria convite--> 
		<div class="input-group">
         	<input class="form-control" type="text" name="nome" placeholder="Nome">
        </div>
		<div class="input-group">
         	<input class="form-control" type="text" name="email" placeholder="Email">
        </div>
        <div class="input-group">
         	<input class="form-control" type="text" name="classificacao" placeholder="Classificação">
        </div>
        
        <div class="input-group">
	  	<button type="submit" class="btn btn-default" name="criarCampanha">Convidar Amigo para Campanha</button>
	  	</div>
	</form>
</body>
</html>