<!DOCTYPE html>
<html lang="en">
<head >
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="wnameth=device-wnameth, initial-scale=1">  
    <title>Boa Iniciativa</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
	<title>
	Boa Iniciativa - Criar Campanha
	</title>
</head>
<body>
     <form class="navbar-form" action="CriarCampanha.php" method="post">
     	<div class="input-group">
         	<input class="form-control" type="text" name="nome" placeholder="Nome da Campanha">
        </div>
        <div class="input-group">
			<textarea class="form-control" name="descricao" rows="4" cols="50" placeholder="Descrição da Campanha"></textarea>
		</div>
		<div class="input-group">
			<textarea class="form-control" name="possiveisArrecadacoes" rows="4" cols="50" placeholder="Arrecadações"></textarea>
        </div>
        <div class="input-group">
			<label>Início</label><input class="form-control" type="date" name="dataDeInicio">
		</div>
		<div class="input-group">
			<label>Fim</label><input class="form-control" type="date" name="dataFim">
		</div>
		<div class="input-group">
			<label>Meta</label><input class="form-control" type="date" name="metaData">
		</div>
        <div class="input-group">
			<textarea class="form-control" name="agradecimento" rows="4" cols="50" placeholder="Agradecimento da Campanha"></textarea>
		</div>
		<label for="exampleInputFile">Imagem da Campanha</label>
	    <input type="file" name="imagem">
	    <div class="input-group">
	  	<button type="submit" class="btn btn-default" name="criarCampanha">Criar Campanha</button>
	  	</div>
	</form>
</body>
</html>